In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("cleaned_sales_data.csv")
data.head()

,date,units_sold,price,stock_available,store_id_str_02,store_id_str_03,product_id_pdt_002,product_id_pdt_003,product_id_pdt_004,product_id_pdt_005,...,product_category_Household,product_category_Snack,store_location_Los Angeles,store_location_New York,weekday_Monday,weekday_Saturday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,revenue
0,2023-01-02,50,13.54,51.0,False,False,False,False,False,True,...,False,False,False,True,True,False,False,False,False,677.00
1,2023-01-02,69,27.44,92.0,True,False,False,False,False,True,...,False,False,True,False,True,False,False,False,False,1893.36
2,2023-01-02,60,27.75,14.0,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,1665.00
3,2023-01-03,16,7.27,71.0,False,False,False,True,False,False,...,False,False,False,True,False,False,False,True,False,116.32
4,2023-01-03,46,29.15,60.0,True,False,False,False,True,False,...,True,False,True,False,False,False,False,True,False,1340.90

In [3]:
data['revenue'].head()

0     677.00
1    1893.36
2    1665.00
3     116.32
4    1340.90
Name: revenue, dtype: float64

In [ ]:
data['revenue'].round(2)